#test_toggle {
    position: absolute;
    display: inline-block;
    top: 130vh;
    right: 50px;
}

.fixed-action-btn ul {
    bottom: 10px;
}

.hero-title {
    height: 100vh;
    padding-top: 3vh;
    background-image: url("/img/dognose.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #8AC640;
}

.fourofour{
    height: 100vh;
    padding-top: 3vh;
    background-image: url("/img/dog-digging.jpg");
    background-size: cover;
    background-position: center;
}

.fivehundred{
    height: 100vh;
    padding-top: 3vh;
    background-image: url("/img/sadpup.jpg");
    background-size: cover;
    background-position: center;
}

.hero-title h1 {
    font-size: 10vh; }

.hero-body {
    padding-top: 1vh;
    height: 45vh; }
.hero-body h1 {
    font-size: 8vh; }

.auth-bar {
  height: 10vh; }

#pets-create-modal {
  padding: 5px 15px;
  top: 5%; }

.modal {
  max-height: 90%;
  width: 90%; }

nav {
  position: fixed;
  bottom: 0;
  z-index: 999; }
  nav p {
    margin: 0;
    padding: 0 10px; }
  nav a {
    margin: 5px;
    font-size: 20px; }
  nav p:first-child a {
    font-size: 25px; }

.modal-trigger {
  color: inherit; }

.bottom-sheet {
  padding-top: 25px;
  padding-bottom: 50px; }

#image-upload{
    padding: 30px;
    margin: 30px;
    background: rgb(225,225,225);
}

.dz-complete{
  display: inline-block;
  margin: 10px;
}

.dz-success-mark,
.dz-error-mark,
.dz-details,
.dz-error-message{
  display: none;
}

.modal-dismiss{
    background: rgb(240,240,240);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    padding: 0 10px;
    color: rgb(200,200,200);
    margin: 0;
    transition: all 0.3s;
    border: 1px solid rgb(200,200,200);
}

.modal-dismiss:hover{
    color: black;
}

#auth-modal .col{
    text-align: center;
}

#icon-menu{
    text-align: center;
    display: none;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 10;
}

#icon-menu li{
  margin: 10px;
}

.delete-image:before{
    content: 'Delete this image?';
    color: firebrick;
    opacity: 0;
    font-size: 1.5rem;
}

.delete-image:hover:before{
    opacity: 1;
    content: 'Delete this image?';
    transition: all 0.5s;

}

.delete-image{
    position: relative;
    overflow: hidden;
}

.error-message{
    color: firebrick;
}

body{
  background: url(/img/confectionary.png);
}
